<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YJLExam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>YJLUIKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>testYJLUIKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B21FA2F519386EEE00E8465D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B21FA31619386EEE00E8465D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B21FA33119386F0000E8465D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B21FA33E19386F0100E8465D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2ABD889194ADB1500EF2EC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2ABD896194ADB1500EF2EC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
